<template>
  <div  id="app">
        
        <nav class="navbar navbar-dark dark shadow">
      <div class="logo-container ml-5">
        <a class="navbar-brand"><img src="./../assets/images/logo.png"></a>
      </div>
      <button class="btnsn btn-sm"><p>Logout</p></button>
    </nav>
   </div>
  
</template>
<script>
export default {
  
}
</script>
<style></style>