<template>
  <div  id="app">
        
     <div class="sidenav dark">
        <router-link to="/" exact class="element-container "><a href="index.html" class="nav-link text-light light">
         <span><img src="./../assets/images/dashboard.png" height="35px" width="40px"></span>&nbsp;&nbsp;Dashboard</a>
        </router-link>
        <router-link to="/Patron">
        <a href="patron.html" class="nav-link text-light light1">
         <span><img src="./../assets/images/patron.png" height="35px" width="40px"></span>&nbsp;&nbsp;Patron Management</a>
        </router-link>
        <router-link to="/Book">
        <a href="book.html" class="nav-link text-light light2">
         <span><img src="./../assets/images/books.png" height="35px" width="40px"></span>&nbsp;&nbsp;Book Management</a>
        </router-link>
        <router-link to="/Settings">
        <a href="settings.html" class="nav-link text-light light3">
         <span><img src="./../assets/images/settings.png" height="35px" width="40px"></span>&nbsp;&nbsp;Settings</a>
        </router-link>
      </div>
     
   </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>