<template>
  <div>
    <canvas id="pieChart" width="280" height="200"></canvas>
  </div>
</template>
<script>
import Chart from "chart.js";

export default {
  name: "App",
  components: {},
  mounted: function() {
    //  piechart chart
     var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "pie",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20,40],
              backgroundColor: [
                "#007bff",
                 "#fd7e14",
              "##6c757d",
                "#ffc107",
                "#0E0067",
              ],
            },
          ],

          labels: ["IT Books", "History", "Reseach", "Math", "MAPEH"],
        },
      options: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    });
  },
};</script>