<template>
  <div id="app">
    <NavBar />
    <SideBar />
    
      <router-view />
    
  </div>
</template>
<script>
import NavBar from "./components/Navbar";
import SideBar from "./components/Sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>
<style>

@import "./assets/css/style.css";
@import "./assets/css/responsive.css";
@import "./assets/css/design.css";
</style>
