*
{
	margin: 0;
	padding: 0;
}

.img-g 
{
	width: 1363px;
	height: 600px;
	background-position: center;
	background-size: cover;
}

.navbar-nav
{
	float: right;
	list-style: none;
	margin-top: 20px;
}

.navbar-nav li
{
	display: inline-block;
}

.navbar-nav li a
{
	color: black;
	text-decoration: none;
	padding:15px 30px;
	font-family: "Gill Sans Ultra Bold", sans-serif;
	font-size: 15px;
}

.navbar-nav li a:hover
{
	border: 1px solid black;
}

.navbar-brand img
{
	width: 150px;
	height: auto;
	float: left;
	margin-top: 8px;
	padding-left: 40px;
}

body
{
	font-family:"Roboto"; 
	background-color: white;
}

#nav-bar
{
	position: sticky;
	top: 0;
	z-index
}


.row
{
	padding-top: 50px;
	padding-bottom: 100px;
}

.row h2
{
	padding-left: 20px;
	float: left;
}

.img-s
{
	max-width: 15%;
	max-height: 33%;
	margin: 10px 10px;
	float: left;
}

.img-p
{
	max-width: 15%;
	max-height: 33%;
	margin: 10px 10px;
	float: left;
}

.img-j
{
	max-width: 16%;
	max-height: 35%;
	margin: 10px 10px;
	float: left;
}

.img-l
{



	max-width: 15%;
	max-height: 35%;
	margin: 10px 10px;
	float:left;
}


.hillo{
	margin-left: 40%;
	color:red;
	align-self: center;
}
.item{
	text-align: center;
	font-weight: bold;
}

.img-k
{
	max-width: 16%;
	max-height: 35%;
	margin: 10px 10px;
	float: left;

}

.know
{
	text-align: center;
}

