*
{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Avro";
}
.element-container {
	width: 100%;
	height: 50px;
	position: relative;
	margin-top: 1rem;
  }
.dark {
	color: white;
	background-color: #0E0067;
	font-size: 22px;	
}


.form-g{
	padding-top:5%;
}
.categorys{
		border:none;
}

.btn-sm {
	width: 100px;
	height: 40px;
	color: white;
	font-size: 20px;
	display: flex;
	text-decoration: underline;
}

	
.navbar-brand img {
	position: absolute;
	width: 370px;
	height: 250px;
	left: -50px;
	top: -95px;
}

.logo-container {
	display: flex;
	justify-content: left;
	align-items: left;
}

.navbar {
	position: relative;
	width: 100%;
	height: 15vh;
}

.library-container {
	position: relative;
	display: flex;
}

.sidenav {
	position: relative;
	width: 300px;
	height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
	transition: all 400ms;
}

.sidenav a {
	display: flex;
	align-items: center;
	padding: 30px;
}
.sidenav a p {
	font-size: 20px;
	color: white;
}
.sidenav a i {
	font-size: 20px;
	color: white;
}

.content {
	position: relative;
	right: 0px;
	width: 75vw;
	height: 85vh;
}
.mb-5{
	color: #0E0067;
}

.content .dashboard-content {
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar,
.pie {
	background-color: black;
	padding: 30px;
	margin: 20px;
	width: 450px;
	height: 400px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.content .book-management-content,
.content .patron-management-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content .book-management-content .heading,
.content .patron-management-content .heading {
	margin-top: 30px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75vw;
}

.content .book-management-content .heading button,
.content .patron-management-content .heading button {
	font-size: 24px;
	margin-left: 10px;
	width: 150px;
	color: #0E0067;
	text-decoration: underline;
}

.content .book-management-content .heading input,
.content .patron-management-content .heading input {
	outline-style: none;
	width: 300px;
	margin-right: 30px;
}

.content .book-management-content .book-list,
.content .patron-management-content .patron-list {
	width: 950px;
	height: 380px;
	background-color: white;
	border-collapse: collapse;
}

.book-list thead,
.patron-list thead {
	text-align: left;
	color: #fff;
	background-color: #0E0067;
}

.book-list thead th,
.patron-list thead th {
	padding: 10px;
	font-weight: 500;
	font-size: 20px; 
}

.book-list tbody,
.patron-list tbody {
	text-align: left;
}

.book-list tbody tr .action-container,
.patron-list tbody tr .action-container {
	display: flex;
	justify-content: left;
	align-items: left;
}

.book-list tbody tr .action-container div button,
.patron-list tbody tr .action-container div button {
	font-size: 12px;
	width: 60px;
	margin: 3px;
	display: flex;
	justify-content: left;
	align-items: left;
}

.book-list tbody tr td,
.patron-list tbody tr td
 {
	padding: -10px;
	border-bottom: 1px #35495e solid;
}

.book-list tbody tr td:nth-child(2),
.patron-list tbody tr td:nth-child(2) {
	width: 260px;
}

.book-list tbody tr td p,
.patron-list tbody tr td p
 {
	font-size: 20px;
}

.modal-body form div span{
	font-size: 20px;
	font-weight: 500;
}

.dropdown button {
	width: 120px;
}

{
  .navbar {
    height: 10vh;
    z-index: 1;
  }
  .sidenav {
    width: 15vw;
    height: 90vh;
    z-index: 1;
  }

  .sidenav a {
    justify-content: center;	
  }
  .sidenav a span {
    display: none;
  }
   .content {
    position: relative;
  }
  .content .dashboard-content {
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 0;
  }

  .content .book-management-content .book-list {
    width: 200px;
    height: 200px;
    background-color: white;
    border-collapse: collapse;
  }

  .borrow-return-chart,
  .popular-book-chart {
    height: 300px;
    width: 300px;
  }
}
.column2{
	position: absolute;
	background-color: black;
	height:420px;
	width:500px;
	top:150px;
	left:310px;	
}

.column1{
	position: absolute;
	background-color: black;
	height:420px;
	width:500px;
	top:150px;
	left:820px;	
}
.table-container{
	
	position: absolute;
	top:130px;
	left:300px;
	width:950px;
}
.table-container2{
	
	position: absolute;
	top:130px;
	left:300px;
	width:1000px;
}

.btns{
	font-size: 24px;
	margin-left: 10px;
	width: 150px;
	color: #0E0067;
	text-decoration: underline;
	background-color: transparent;
	border:none;	
}
.search{
	float:right;
}
.table-heads{
	background-color: #0E0067;
	color:white;
}
#overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	background: rgba(0,0,0,0.6);
}
.light{
	position:absolute;
	width:1400px;
	left:0px;
	
}

.light1{
	margin-top:70px;
	position:absolute;
	width:100%;
	left:0px;
}

.light2{
	margin-top:150px;
	position:absolute;
	
	width:100%;
	left:0px;
}

.light3{
	margin-top:230px;
	position:absolute;
	
	width:100%;
	left:0px;
}
.modalContainer{
	width:500px;
	margin-left:450px;
}
.nav-link{
	
	height:100px;
	width:500px;
}