<template>
 <div id="app">
  
  
  
  
              <div class="column2">
                 <div class="bar">Borrowed and Returned book
                 <BarChart />
                </div>
              </div>
              <div class="column1">
                <div class="pie">Popular Book Genre
                  <PieChart />
                </div>
              </div>  
           
  </div>
  
</template>
<script>
import BarChart from "./../components/charts/BarChart";
import PieChart from "./../components/charts/PieChart";
export default {
  components: {
    BarChart,
    PieChart,
  },
};
</script>
